@page "/sample/abc/edit/{AbcID:int}"

@using Wata.Commerce.Common.Helpers;
@using Wata.Commerce.Common.Component;
@using Wata.Commerce.Common.Objects;
@using Wata.Commerce.Sample.Module.Services;
@using Wata.Commerce.Sample.Module.Models.Abc;

@inherits PageBase
@inject IAbcService _abcService
@inject NavigationManager navigationManager
@implements IDisposable

@inject NavigationManager Navigation
@inject IPageHelper PageHelper
@inject EditSuccess EditSuccessState

@if (Abc is null && !Busy)
{
    <p>Could not find abc with id @AbcID.</p>
}
else
{
    <AbcForm Busy="@Busy" Abc="@Abc"
                 IsAdd="false"
                 CancelRequest="Cancel"
                 ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}

@if (Error)
{
    <br />
    <div class="alert alert-danger">Failed to update the abc (@ErrorMessage).</div>
}

@code {
    /// <summary>
    /// Id of abc to edit
    /// </summary>
    [Parameter]
    public int AbcID { get; set; }

    /// <summary>
    /// Abc being edited
    /// </summary>
    private AbcModel? Abc { get; set; } = new AbcModel();

    /// <summary>
    /// Avoid concurrent requests
    /// </summary>
    private bool Busy;

    /// <summary>
    /// An error occurred in the update
    /// </summary>
    private bool Error;

    /// <summary>
    /// Error message
    /// </summary>
    private string ErrorMessage = string.Empty;

    /// <summary>
    /// Start it up
    /// </summary>
    /// <returns>Task</returns>
    #region snippet2
    protected override async Task OnInitializedAsync()
    {
        Busy = true;

        try
        {
            Abc = await _abcService.GetAbcAsync(AbcID);
        }
        finally
        {
            Busy = false;
        }

        await base.OnInitializedAsync();
    }
    #endregion

    /// <summary>
    /// Result of form validation
    /// </summary>
    /// <param name="success">Success when model is valid</param>
    /// <returns>Task</returns>
    private async Task ValidationResultAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            // still need to edit model
            Error = false;
            return;
        }

        Busy = true; // async
        try
        {
            if (await _abcService.UpdateAbcAsync(Abc) > 0)
            {
                EditSuccessState.Success = true;
                // go to view to see the record
                Navigation.NavigateTo($"/sample/abc/view/{Abc.AbcID}");
            }
            else
            {
                EditSuccessState.Success = false;
                Error = true;
                Busy = false;
            }
        }
        catch (Exception ex)
        {
            EditSuccessState.Success = false;
            // unknown exception
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }

    /// <summary>
    /// Bail out!
    /// </summary>
    private void Cancel()
    {
        Busy = true;
        Navigation.NavigateTo($"/sample/abc/{PageHelper.Page}");
    }

    /// <summary>
    /// Implement <see cref="IDisposable"/>.
    /// </summary>
    #region snippet1
    public void Dispose()
    {
        //Dispose something
    }
    #endregion
}